<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Making of a NBA Player</title>
  <!-- Bootstrap core CSS-->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="static/css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Form</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="FirstName">First name</label>
                <input class="form-control" id="FirstName" type="text" aria-describedby="nameHelp" placeholder="Enter first name" required>
              </div>
              <div class="col-md-6">
                <label for="LastName">Last name</label>
                <input class="form-control" id="LastName" type="text" aria-describedby="nameHelp" placeholder="Enter last name" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4">
              <label for="DOB">Date of Birth</label>
              <input type="date" class="form-control" id="DOB" aria-describedby="dd/mm/yyyy" placeholder="Select date of birth" onchange="updateAge()" min="1985-01-01" required>
            </div>
            <div class="col-md-4">
                <label for="Age">Age</label>
                <input type="text" class="form-control" id="Age" disabled>
              </div>
            <div class="col-md-4">
              <label for="BirthPlace">Current Location(City,State)</label>
              <input type="text" class="form-control" id="CurrentLocation" placeholder="City,State" required>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-4">
              <label for="Height">Height(in Ft)</label>
              <input type="number" class="form-control" id="Height" placeholder="Enter your height(in Ft)" min="0" max="8" required>
            </div>
            <div class="col-md-4" style="visibility: hidden" id="Parent1Ht">
                <label for="FatherHeight">Father's Height(in Ft)</label>
                <input type="number" class="form-control" id="FatherHeight" placeholder="Enter your father's height(in Ft)" min="0" max="8">
            </div>
            <div class="col-md-4" style="visibility: hidden" id="Parent2Ht">
              <label for="MotherHeight">Mother's Height(in Ft)</label>
              <input type="number" class="form-control" id="MotherHeight" placeholder="Enter your mother's height(in Ft)" min="0" max="8"> 
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-2" style="visibility: hidden" id="Colg">
              <label for="CollegeAttending">College</label>
              <input type="checkbox" class="form-control" id="CollegeAttending" onclick="Validate_colg()">
            </div>
            <div class="col-md-10" style="visibility:hidden" id="ColgNameHide">
                <label for="CollegeName">College Name</label>
                <input type="text" class="form-control" id="CollegeName" placeholder="Enter College Name">
              </div>
          </div>
          <div class="form-row" style="visibility:hidden" id="ColgStatsLabel">
            <div class="col-md-12">
              <label>College Statistics per Game</label>
            </div>
          </div>
          <div class="form-row" style="visibility:hidden" id="ColgStats">
            <div class="col-md-2">
              <label for="FG">FG%</label>
              <input type="number" class="form-control" id="FG" placeholder="Field Goal%">
            </div>
            <div class="col-md-2">
                <label for="3PFG">3PFG%</label>
                <input type="number" class="form-control" id="3PFG" placeholder="3 Point Field Goal%">
            </div>
            <div class="col-md-2">
                <label for="FT">FT%</label>
                <input type="number" class="form-control" id="FT" placeholder="Free Throw%">
            </div>
            <div class="col-md-2">
                <label for="PTS">PTS</label>
                <input type="number" class="form-control" id="PTS" placeholder="Points Per Game">
            </div>
            <div class="col-md-2">
                <label for="TRB">TRB</label>
                <input type="number" class="form-control" id="TRB" placeholder="Total Rebounds per game">
            </div>
            <div class="col-md-2">
                <label for="AST">AST</label>
                <input type="number" class="form-control" id="AST" placeholder="Assists per game">
            </div>
          </div>
          <br>
          <input type="submit" class="btn btn-primary btn-block" id="SubmitBtn" onclick="activateChart()">
        </form>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="static/js/sb-admin.min.js"></script>
  <script src="static/js/app.js"></script>
  <!-- Custom scripts for this pages-->
  <script src="static/js/form.js"></script>
</body>

</html>
