<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Making of a NBA Star</title>
    <!-- Bootstrap core CSS-->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="static/css/sb-admin.css" rel="stylesheet">
    <link href="static/css/landing.css" rel="stylesheet">
    
    </head>

    <body class="bg-dark" id="page-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="masthead">
                        <video width="100%" height="100%" autoplay loop id="NBA-Video">
                            <source src="static/nba_video/nba_video.mp4" type="video/mp4">
                        </video>
                        <div class="overlay">
                            <h1 class="text-uppercase mb-0">Do You Want to be a NBA Star?</h1>
                            <hr>
                            <form action="/home" class="inline">
                                <button class="submit-button btn btn-success btn-lg">GO</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
